[submodule "reliquary"]
	path = reliquary
	url = git@github.com:scrivver/reliquary.git
[submodule "engram"]
	path = engram
	url = git@github.com:scrivver/engram
[submodule "synapse"]
	path = synapse
	url = git@github.com:scrivver/synapse
