[submodule "reliquary"]
	path = reliquary
	url = git@github.com:scrivver/reliquary.git
[submodule "engram"]
	path = engram
	url = https://github.com/scrivver/engram
[submodule "synapse"]
	path = synapse
	url = https://github.com/scrivver/synapse
